<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <mostrar-usuario></mostrar-usuario>

  <form
    (ngSubmit)="validarFormulario(formulario)"
    #formulario="ngForm">

    <ion-list>

      <ion-item>
        <ion-label floating>Username - {{nombre}}</ion-label>


        <ion-input [(ngModel)]="nombre"
                   name="nombre"
                   type="text"></ion-input>





      </ion-item>

      <ion-item>
        <ion-label>
          <p>valid:{{passwordFormulario.valid}}</p>
          <p>touched:{{passwordFormulario.touched}}</p>
          <p>pristine:{{passwordFormulario.pristine}}</p>
          <p>dirty:{{passwordFormulario.dirty}}</p>
          <p>untouched:{{passwordFormulario.untouched}}</p>
          <p>{{passwordFormulario.errors?.required}}</p>
          <p>{{passwordFormulario.errors?.minlength}}</p>
          <p>{{passwordFormulario.errors?.maxlength}}</p>


        </ion-label>
      </ion-item>


      <ion-item *ngIf="passwordFormulario.errors
      &&passwordFormulario.dirty">
        <ion-label>
          <p style="background-color: red;color: white">
            ERROR -
            <span *ngIf="passwordFormulario.errors.required">
              Campo requerido
            </span>
            <span *ngIf="passwordFormulario.errors.minlength">
              Necesita mas de 3 caracteres
            </span>
            <span *ngIf="passwordFormulario.errors.maxlength">
              No puede escribir mas de 5 caracteres
            </span>

          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password"
                   required
                   minlength="3"
                   maxlength="5"


                   [(ngModel)]="password"
                   name="password"
                   #passwordFormulario="ngModel"
        ></ion-input>
      </ion-item>

      <ion-item *ngIf="passwordConfirmacionFormulario.errors
      &&passwordConfirmacionFormulario.dirty">
        <ion-label>
          <p style="background-color: red;color: white">
            ERROR -
            <span *ngIf="passwordConfirmacionFormulario.errors.required">
              Campo requerido
            </span>
            <span *ngIf="passwordConfirmacionFormulario.errors.minlength">
              Necesita mas de 3 caracteres
            </span>
            <span *ngIf="passwordConfirmacionFormulario.errors.maxlength">
              No puede escribir mas de 5 caracteres
            </span>

          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label floating>Password confirmacion</ion-label>
        <ion-input type="password"
                   required
                   minlength="3"
                   maxlength="5"
                   [(ngModel)]="passwordConfirmacion"
                   name="passwordConfirmacion"
                   #passwordConfirmacionFormulario="ngModel"
        ></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button color="secondary"
            [disabled]="formulario.invalid"
            type="submit"
            clear>Enviar datos
    </button>



  </form>


</ion-content>
